@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

body {
  margin: 0;
}

.container{
    display: flex;
}

#canvas {
    width: 50%;
    height: 100vh;
}

.text-section {
    width: 50%;
    height: 100vh;
    background: lightblue;
    padding: 20px;
}

.text {
    margin-bottom: 10px;
}

.feature-section{
    display:flex;
    justify-content: space-around;
}