body {
    margin: 0;
}

.container{
    display: flex;
}

#canvas {
    width: 50%;
    height: 100vh;
}

.text-section {
    width: 50%;
    background: lightblue;
    padding: 20px;
}

.text {
    margin-bottom: 10px;
}

.feature-section{
    display:flex;
    justify-content: space-around;
}


@media (max-width: 1000px){
    .container{
        flex-direction: column;
    }
    #canvas {
        width: 100%;
    }

    .text-section {
        width: 100%;
    }

}